<ion-view title="Home" id="home">
    <ion-nav-bar class="bar bar-header bar-assertive">
            <!-- <ion-nav-back-button></ion-nav-back-button> -->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div class="list card" id="home-card21">
            <ion-item class="item-avatar" id="home-list-item11">
                <h2>Item</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/q7qvyFxuQbOO1ZKFKaT4_coca-cola_strip_phone.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 39px;"></div>
            <div id="home-markdown2" style="color:#000000;font-size:20px;text-align:center;">
                <p>
                    <strong>Outlet Survey System</strong>
                </p>
            </div>
            <div id="home-markdown3" style="color:#000000;text-align:center;">
                <p>Coca-Cola Pinya Beverages Myanmar Ltd.</p>
            </div>
            <div class="spacer" style="width: 300px; height: 39px;"></div>
        </div>
    </ion-content>
</ion-view>
