<ion-view title="Login" id="login">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.home" id="login-button1" style="color:#FFFFFF;" class="button button-assertive  button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>
