<ion-view title="Outlet's Detail" id="outletSDetail">
    <ion-content padding="true" class="has-header">
        <form id="outletSDetail-form2" class="list">
            <label class="item item-input" id="outletSDetail-input3" name="area">
                <span class="input-label">Area</span>
                <input type="text" placeholder="Region 1">
            </label>
            <label class="item item-input" id="outletSDetail-input6" name="city_mm">
                <span class="input-label">City</span>
                <input type="text" placeholder="ဗမာ">
            </label>
            <label class="item item-input" id="outletSDetail-input7" name="city_en">
                <span class="input-label">City</span>
                <input type="text" placeholder="English">
            </label>
            <label class="item item-input" id="outletSDetail-input8" name="township_mm">
                <span class="input-label">Township</span>
                <input type="text" placeholder="ဗမာ">
            </label>
            <label class="item item-input" id="outletSDetail-input9" name="township_en">
                <span class="input-label">Township</span>
                <input type="text" placeholder="English">
            </label>
            <label class="item item-input" id="outletSDetail-input10" name="ward_mm">
                <span class="input-label">Ward</span>
                <input type="text" placeholder="ဗမာ">
            </label>
            <label class="item item-input" id="outletSDetail-input11" name="ward_en">
                <span class="input-label">Ward</span>
                <input type="text" placeholder="English">
            </label>
            <label class="item item-select" id="outletSDetail-select2">
                <span class="input-label">Type</span>
                <select></select>
            </label>
            <label class="item item-input" id="outletSDetail-input12" name="outlet_mm">
                <span class="input-label">Outlet</span>
                <input type="text" placeholder="ဗမာ">
            </label>
            <label class="item item-input" id="outletSDetail-input13" name="Outlet">
                <span class="input-label">Outlet</span>
                <input type="text" placeholder="English">
            </label>
            <label class="item item-input" id="outletSDetail-input14" name="owner_mm">
                <span class="input-label">Owner</span>
                <input type="text" placeholder="ဗမာ">
            </label>
            <label class="item item-input" id="outletSDetail-input15" name="owner_en">
                <span class="input-label">Owner</span>
                <input type="text" placeholder="English">
            </label>
            <label class="item item-input" id="outletSDetail-input17" name="phon2">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Mobile">
            </label>
            <label class="item item-input" id="outletSDetail-input18" name="owner_en">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Home">
            </label>
            <label class="item item-input" id="outletSDetail-input16" name="phone1">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Main">
            </label>
            <div id="outletSDetail-button-bar2" class="button-bar">
                <button id="outletSDetail-button7" class="button button-positive  button-block button-clear">Image 1</button>
                <button id="outletSDetail-button8" class="button button-positive  button-block button-clear">Image 2</button>
                <button id="outletSDetail-button9" class="button button-positive  button-block button-clear">Image 3</button>
            </div>
            <label class="item item-input" id="outletSDetail-input22" name="latitude">
                <span class="input-label">Latitude</span>
                <input type="number" placeholder="Latitude">
            </label>
            <label class="item item-input" id="outletSDetail-input23" name="longitude">
                <span class="input-label">Longitude</span>
                <input type="number" placeholder="Longitude">
            </label>
        </form>
    </ion-content>
</ion-view>
