<ion-view title="Outlets" id="outlets">
    <ion-content padding="true" class="has-header">
        <ion-list id="outlets-list5" class="manual-list-fullwidth">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item id="outlets-list-item13">Item 1</ion-item>
            <ion-item id="outlets-list-item14">Item 2</ion-item>
            <ion-item id="outlets-list-item15">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
