<ion-view title="Question's Detail" id="questionSDetail">
    <ion-nav-bar class="bar bar-header bar-assertive">
        <ion-nav-back-button class="button-clear">Back</ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button id="button-save" class="button button-clear">Done</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true">
        <form id="questionSDetail-form5" class="list">
            <label class="item item-input" id="questionSDetail-input5" name="question_name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Soft Drink [Non-Alcohol]">
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="questionSDetail-toggle3" name="config_type_active">Active</ion-toggle>
        </form>
    </ion-content>
</ion-view>
