<ion-view title="Setting" id="setting">
    <ion-content padding="true" class="has-header">
        <form id="setting-form12" class="list">
            <label class="item item-input" id="setting-input28">
                <span class="input-label">Server</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="setting-input29">
                <span class="input-label">Port</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <button id="setting-button11" class="button button-positive  button-block">Save</button>
        <button id="setting-button12" class="button button-assertive  button-block button-clear">Reset Default</button>
    </ion-content>
</ion-view>
