<ion-view title="Survey" id="survey">
    <ion-content padding="true" class="has-header">
        <form id="survey-form3" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="list card" id="survey-card22">
            <div id="survey-container1">
                <form id="survey-form9" class="list">
                    <label class="item item-input" id="survey-input25">
                        <span class="input-label">Input</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input" id="survey-input26">
                        <span class="input-label">Input</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input" id="survey-input27">
                        <span class="input-label">Input</span>
                        <input type="text" placeholder="">
                    </label>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
