<ion-view title="Type's Detail" id="typeSDetail">
    <ion-content padding="true" class="has-header">
        <form id="typeSDetail-form7" class="list">
            <label class="item item-input" id="typeSDetail-input24" name="outlet_name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Coffee shop">
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="typeSDetail-toggle4" name="config_type_active">Active</ion-toggle>
        </form>
        <button id="typeSDetail-button10" class="button button-positive  button-block">Save</button>
    </ion-content>
</ion-view>
